body{
 margin:0;
background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(150px, auto);
}
.team1{
	grid-column: 1;
	grid-row: 2;
	text-align: right;
}
.team1-image{
	 /*it might cause problem later*/
}
.vs{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 2;
	grid-row: 2 ;
	text-align: center;
	font-size: 90px;
	font-weight: bold;
	color: red;
}
.submit{
	grid-column: 2;
	grid-row: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.team2{
	text-align: left;
	grid-column: 3;
	grid-row: 2;
}
.container img{
	width: 250px;
	height: 250px;
}
.select-team1{
	position: relative;
	right: 20px;
	width: 210px;
	font-size: 15px;
	padding: 5px 10px;
    border: 1px solid #979997;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}.select-team2{
	width: 210px;
	font-size: 15px;
	padding: 5px 10px;
	position: relative;
	left: 30px;
    border: 1px solid #979997;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.select-team1 option{
	padding: 20px;
}
.push_button{
	position:relative;
	width:190px;
	color:#FFF;
	display:block;
	text-decoration:none;
	margin:0 auto;
	border-radius:5px;
	border:solid 1px #D94E3B;
	background:#cb3b27;
	text-align:center;
	padding:17px 27px;
    font-size:25px;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 0px 9px 0px #84261a;
    -moz-box-shadow: 0px 9px 0px #84261a;
    box-shadow: 0px 9px 0px #84261a;
}
.push_button:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:7px;
}
@media(max-width: 720px){
	.container img{
	width: 200px;
	height: 200px;
}
.select-team2{
	left: 20px;
	width: 180px;
}.select-team1{
	width: 180px;
}
.push_button{
	padding: 15px 25px;
	width: 170px;
	font-size: 22px;
}
}@media(max-width: 570px){
	.container img{
	width: 150px;
	height: 150px;
}
.select-team2{
	left: 10px;
	width: 150px;
}.select-team1{
	width: 150px;
}
.vs{
	font-size: 60px;
}
.push_button{
	padding: 10px 20px;
	width: 150px;
	font-size: 18px;
}
}

@media(max-width: 470px){
	.container img{
	width: 130px;
	height: 130px;
}
.select-team2{
	left: 5px;
	width: 120px;
}.select-team1{
	width: 120px;
	right: 7px
}
.vs{
	font-size: 50px;
}.push_button{
	padding: 5px 15px;
	width: 110px;
	font-size: 14px;-webkit-box-shadow: 0px 5px 0px #84261a;
    -moz-box-shadow: 0px 5px 0px #84261a;
    box-shadow: 0px 5px 0px #84261a;
}
}
