body{
 margin:0;
background: #C04848;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
/*background-image: url("../images/background-images/Australia/Australia.jpg");
 background-size: cover;
 background-repeat: no-repeat;*/
}
.container{
	margin-left: 15px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 10px;
	grid-auto-rows:190px; /*minmax(150px, auto);*/
}
.heading{
	grid-column: 2 /4;
	grid-row: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 55px;
	color: white;
	font-family:Lavanderia,Verdana;

}
.player-1{
	
	grid-column: 1;
	grid-row: 2;
}
.player-2{
	grid-column: 2;
	grid-row: 2;
}
.player-3{
	grid-column: 3;
	grid-row: 2;
}
.player-4{
	grid-column: 4;
	grid-row: 2;
}
.player-5{
	grid-column: 1;
	grid-row: 3;
}
.player-6{
	grid-column: 2;
	grid-row: 3;
}
.player-7{
	grid-column: 3;
	grid-row: 3;
}
.player-8{
	grid-column: 4;
	grid-row: 3;
}
.player-9{

	grid-template-rows: 50px;
	grid-column: 1;
	grid-row: 4;

}
.player-10{
	grid-column: 2;
	grid-row: 4;
	
}
.player-11{
	grid-column: 3;
	grid-row: 4;
	
}
.container input[type="text"]{
	/*background-image: url("../images/logos/Bowler.png");*/
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: right;
	width: 220px;
	color: white;
	font-size: 15px;
	border:1px dotted white;
	border-radius: 4px;
	padding: 10px;
	background-color: black;
	opacity: 0.4;
}
.skill{
	width: 19px;
	position: relative;
	bottom: 13px;
	right: 23px;
}
.submit{
	grid-column: 2/4;
	grid-row: 5;
	
}
.push_button{
	position:relative;
	width:190px;
	color:#FFF;
	display:block;
	text-decoration:none;
	margin:0 auto;
	border-radius:5px;
	border:solid 1px #D94E3B;
	background:#cb3b27;
	text-align:center;
	padding:17px 27px;
    font-size:25px;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 0px 9px 0px #84261a;
    -moz-box-shadow: 0px 9px 0px #84261a;
    box-shadow: 0px 9px 0px #84261a;
}
.push_button:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:7px;
}
@media(max-device-width: 1280px){
	.container{
	grid-auto-rows:180px; /*minmax(150px, auto);*/
}

}
@media(max-width: 1010px){

	.heading{
	grid-column: 2;
	font-size: 30px;
}
	.container{
	grid-template-columns: repeat(3,1fr);
	grid-auto-rows:130px;  /*minmax(150px, auto);*/
	}	
	.submit{
	grid-column: 2;
	grid-row: 6;
	
}
	.player-1{
	
	grid-column: 1;
	grid-row: 2;

}

.player-2{
	grid-column: 2;
	grid-row: 2;
}
.player-3{
	grid-column: 3;
	grid-row: 2;
}
.player-4{
	grid-column: 1;
	grid-row: 3;
}
.player-5{
	grid-column: 2;
	grid-row: 3;
}
.player-6{
	grid-column: 3;
	grid-row: 3;
}
.player-7{
	grid-column: 1;
	grid-row: 4;
}
.player-8{
	grid-column: 2;
	grid-row: 4;
}
.player-9{
	grid-column: 3;
	grid-row: 4;
}
.player-10{
	grid-column: 1;
	grid-row: 5;
}
.player-11{
	grid-column: 2;
	grid-row: 5;
}

/*.container input[type="text"]{
	width: 260px;
}*/
}
@media(max-width: 755px){
	.heading{
	grid-column: 1/3;
	font-size: 30px;
}
	.container{
	grid-template-columns: repeat(2,1fr);
	margin-left: 80px;
	}
	.submit{
	grid-column: 1/3;
	grid-row: 8;
}
.player-1{
	
	grid-column: 1;
	grid-row: 2;
}
.player-2{
	grid-column: 2;
	grid-row: 2;
}
.player-3{
	grid-column: 1;
	grid-row: 3;
}
.player-4{
	grid-column:2;
	grid-row: 3;
}
.player-5{
	grid-column: 1;
	grid-row: 4;
}
.player-6{
	grid-column: 2;
	grid-row: 4;
}
.player-7{
	grid-column: 1;
	grid-row: 5;
}
.player-8{
	grid-column: 2;
	grid-row: 5;
}
.player-9{
	grid-column: 1;
	grid-row: 6;
}
.player-10{
	grid-column: 2;
	grid-row: 6;
}
.player-11{
	grid-column: 1;
	grid-row: 7;
}

.container input[type="text"]{
	width: 220px;
}
}
@media(max-width: 620px){
	.container input[type="text"]{
	width: 180px;
}
.container{
margin-left: 50px;
	}
}
@media(max-width: 500px){
	
	.container input[type="text"]{
	width: 170px;
}
.container{
margin-left: 30px;
	}
}
@media(max-width: 480px) 
 {
 	.heading{
	font-size: 27px;
}
	.container{
	grid-template-columns: repeat(1,1fr);
	grid-auto-rows: 150px;
	}
	.submit{
	grid-column: 1;
	grid-row: 13;
}
.players{
		display: block;
		margin:0 auto;
	}
.player-1{
	grid-column: 1;
	grid-row: 2;
}
.player-2{
	grid-column: 1;
	grid-row: 3;
	
}
.player-3{
	grid-column: 1;
	grid-row: 4;
	
}
.player-4{
	grid-column:1;
	grid-row: 5;
	
}
.player-5{
	grid-column: 1;
	grid-row: 6;
	
}
.player-6{
	grid-column: 1;
	grid-row: 7;

}
.player-7{
	grid-column: 1;
	grid-row: 8;
}
.player-8{
	grid-column: 1;
	grid-row: 9;
}
.player-9{
	grid-column: 1;
	grid-row: 10;
}
.player-10{
	grid-column: 1;
	grid-row: 11;
}
.player-11{
	grid-column: 1;
	grid-row: 12;
}

.container input[type="text"]{
	width: 230px;
}
}